iframe{
    width: auto;
    height: auto;
}

.title{
    height: 50px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card{
    max-height: 240px;
}
.card__body{
    height: 100px !important;
    margin: auto;
    text-align: center;
}

.card__text{
}


.title__span{
    color: red;
    font-size: 20px;
    font-weight: 10px;

}